<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jasper.ssm.mapper.UserMapper" >

<resultMap id="BaseResultMap" type="com.jasper.ssm.pojo.User" >
  <id column="id" property="id" jdbcType="INTEGER" />
      <result column="username" property="username" jdbcType="VARCHAR" />
      <result column="switch1" property="switch1" jdbcType="INTEGER"/>
      <result column="switch2" property="switch2" jdbcType="INTEGER"/>
      <result column="camera" property="camera" jdbcType="INTEGER"/>
      <result column="temperature" property="temperature" jdbcType="FLOAT"/>
      <result column="humidity" property="humidity" jdbcType="FLOAT"/>
</resultMap>

  <sql id="Base_Column_List" >
    id, username,switch1,switch2,camera,temperature,humidity
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from printer_info
    where id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insert" parameterType="com.jasper.ssm.pojo.User" >
    insert into user_total (id, username, distance,hour, times)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{distance,jdbcType=FLOAT},
      #{hour,jdbcType=FLOAT}, #{times,jdbcType=INTEGER})
  </insert>

    <update id="updateByPrimaryKey" parameterType="com.jasper.ssm.pojo.User" >
        update user
        set username = #{username,jdbcType=VARCHAR},
        switch1 = #{switch1,jdbcType=TINYINT},
        switch2 = #{switch2,jdbcType=TINYINT},
        camera = #{camera,jdbcType=TINYINT}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="update">
    insert INTO printer_info
        (id, username,switch1,switch2,camera)
    VALUES
    <!--<foreach collection="list" index="index" item="item"-->
             <!--separator=",">-->
        (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{switch1,jdbcType=INTEGER},#{switch2,jdbcType=INTEGER},
         #{camera,jdbcType=INTEGER})
    <!--</foreach>-->
    ON DUPLICATE KEY UPDATE
        username=#{username,jdbcType=VARCHAR},
        switch1 = #{switch1,jdbcType=INTEGER},
        switch2 = #{switch2,jdbcType=INTEGER},
        camera = #{camera,jdbcType=INTEGER}
</update>

  <update id="updateTemp">
    insert INTO printer_info
    (id,temperature,humidity)
    VALUES
    <!--<foreach collection="list" index="index" item="item"-->
    <!--separator=",">-->
    (#{id,jdbcType=INTEGER}, #{temperature,jdbcType=FLOAT}, #{humidity,jdbcType=FLOAT})
    <!--</foreach>-->
    ON DUPLICATE KEY UPDATE
    temperature = #{temperature,jdbcType=FLOAT},
    humidity=#{humidity,jdbcType=FLOAT}
  </update>

</mapper>